*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.startPage--overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #293264;
  background-image: linear-gradient(0deg, #F5F7FB, #97D9E1);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.startPage--overlay h1{
  line-height: 1em;
  font-size: 3.5em;
  color: #293264;
}

.startPage--overlay p{
  line-height: 1.2em;
}

.startPage--authorP{
  font-style: italic;
  font-size: 0.9em;
  opacity: 0.6;
  line-height: 9em;
}

 button{
  color: #293264;
  margin-top: 1em;
  border-radius: 15px;
  border: none;
  background-color: inherit;
  padding: 0.7em 1.5em;
  box-shadow: #293264 0px -2px 6px 0px inset; 
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
}

 button:hover{
  transform: scale(1.2);
  transition-property: all;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
}


.app--container{
  background-image: linear-gradient(55deg, #F5F7FB, #97D9E1);
  color: #293264;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.questions--container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  max-width: 80%;
}

.question--div{
  margin: 1em 0;
  width: 100%;
  text-align: center;
  padding-bottom: 3em;
  border-bottom: 1px solid #293264;
}

.question--div h2{
  color: #293264;
  margin-bottom: 1em;
}

.answers--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4em;
}
.answer--div{
  border: 19px solid #293264;
}

label{
  padding: 0.5em 0.7em;
  border-radius: 15px;
  position: relative;
  z-index: 100;
}

input{
  position: absolute;
  top:0;
  left:0;
  appearance : none;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  z-index: 5;
  border: 1px solid #4F345A;
  transition-property: all;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  background-color: rgba(1,1,1,0);
}

input:hover{
  box-shadow:  #293264 0px -2px 6px 0px inset;
  border-radius: 15px;
}

input:checked{
  box-shadow:  #293264 0px -2px 6px 0px inset;
  border-radius: 15px;
  z-index: 4;
}

.app--footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}



.app--footer button{
  margin: 0;
}

@media( min-width: 950px ){
  .answers--container{
    flex-direction: row;
  }
  .app--footer{
    padding: 1rem;
  }
}